<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.4.0" targetFramework="net452" />
  <package id="FluentAssertions" version="5.1.1" targetFramework="net452" />
  <package id="ServiceStack" version="5.0.2" targetFramework="net452" />
  <package id="ServiceStack.Client" version="5.0.2" targetFramework="net452" />
  <package id="ServiceStack.Common" version="5.0.2" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="5.0.2" targetFramework="net452" />
  <package id="ServiceStack.Text" version="5.0.2" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
  <package id="xunit" version="2.3.1" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net452" />
  <package id="xunit.analyzers" version="0.8.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.3.1" targetFramework="net452" />
  <package id="xunit.core" version="2.3.1" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.3.1" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.3.1" targetFramework="net452" />
</packages>