<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!-- required seq server uri -->
    <add key="servicestack.seq.requestlogs.seq.url" value="http://localhost:5341"/>

    <!-- restrict the runtime configuration to specific roles -->
    <add key="servicestack.seq.requestlogs.requiredroles" value="admin,ops"/>

    <!-- api key for seq -->
    <add key="servicestack.seq.requestlogs.seq.apikey" value="seq-api-key" />

    <!-- default True -->
    <add key="servicestack.seq.requestlogs.enabled" value="True" />

    <!-- default True -->
    <add key="servicestack.seq.requestlogs.errortracking.enabled" value="True" />

    <!-- default False -->
    <add key="servicestack.seq.requestlogs.requestbodytracking.enabled" value="True" />

    <!-- default False -->
    <add key="servicestack.seq.requestlogs.sessiontracking.enabled" value="True" />

    <!-- default False -->
    <add key="servicestack.seq.requestlogs.responsetracking.enabled" value="True" />
  </appSettings>
</configuration>
